---
name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  ci:
    name: Run ${{ matrix.target }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target:
          - lint-clippy
          - lint-fmt
          - test

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Run ${{ matrix.target }}
        run: just ${{ matrix.target }}
